<h1> Our Greek Fusion Restaurants</h1>
<ul>
  <% @restaurants.each do |res| %>
    <li><%= link_to res.name, restaurant_path(res) %> - <%= res.address%> - <%= res.category %></li>
  <%end %>
</ul>

<h2>Do you know another nice fusion-greekie? </h2>
<%= link_to "Yes", new_restaurant_path %>
